movie - XML/moviesSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<!-- MULTI USE COMPLEX TYPES -->

<!-- Used in Production and Release and Distribution Schemas-->
<xs:complexType name="companyType">
	<xs:sequence>
		<xs:element name="company" maxOccurs="unbounded">
			<xs:complexType>
				<xs:attribute name="name" type="xs:string" use="required"/>
			</xs:complexType>
		</xs:element>
	</xs:sequence>
</xs:complexType>

<!-- Used in Production Schema and Reception-->
<xs:simpleType name="currencyType">
	<xs:restriction base="xs:string">
		<xs:enumeration value="Dollar"/>
		<xs:enumeration value="Euro"/>
		<xs:enumeration value="Turkish Lira"/>
	</xs:restriction>
</xs:simpleType>

<xs:complexType name="moneyType" mixed="true">
	<xs:sequence> 
		<xs:element name="currency" type="currencyType"/>
		<xs:element name="amount">
			<xs:simpleType>
				<xs:restriction base="xs:long">
					<xs:minInclusive value="1000"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
	</xs:sequence>
</xs:complexType>

<!-- Used in Employee and Franchise schema -->

<xs:complexType name="IDREFSType">
	<xs:attribute name="ID" type="xs:IDREFS" use="required"/>
</xs:complexType>

<!-- ___________________________________________________________________  -->

<!-- ROOT ELEMENT - MOVIES SCHEMA -->
<xs:element name="movies" type="movieListType"/>

<xs:complexType name="movieListType">
	<xs:sequence>
		<xs:element name="movie" type="movieType" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>

<!-- ___________________________________________________________________  -->

<!-- MOVIE SCHEMA -->
<xs:complexType name="movieType">
	<xs:sequence>
		<!-- Design implemented at Genres Schema below-->
		<xs:element name="genres" type="genresList"/>
		<!-- Basic String Type-->
		<xs:element name="plot" type="xs:string" minOccurs="0"/>
		<!-- Design implemented at Production Schema below-->
		<xs:element name="production" type="productionType"/>
		<!-- Design implemented at Creative Team Schema below-->
		<xs:element name="creative_team" type="creativeTeamType"/>
		<!-- Design implemented at Cast Schema below-->
		<xs:element name="cast" type="castType"/>
		<!-- Design implemented at Post Production Schema below-->
		<xs:element name="post_production" type="postProductionType"/>
		<!-- Design implemented at Release and Distribution Schema below-->
		<xs:element name="release_and_distribution" type="rAndDType"/>
		<!-- Design implemented at Reception Schema Below -->
		<xs:element name="reception" type="receptionType"/>
		<!-- Design implemented at Franchise Schema Below-->
		<xs:element name="franchise" type="franchiseType" minOccurs="0"/>
	</xs:sequence>
	<xs:attribute name="id" type="xs:ID" use="required"/>
	<xs:attribute name="title" type="xs:string" use="required"/>
	<xs:attribute name="release_date" type="xs:date" use="optional"/>
	<xs:attribute name="duration" use="optional" type="durationType"/>
	<xs:attribute name="rating" use="optional" type="ratingType"/>
</xs:complexType>

<!-- ___________________________________________________________________  -->

<!-- GENRES SCHEMA -->

<xs:complexType name="genresList">
	<xs:sequence>
		<xs:element name="genre" maxOccurs="unbounded" type="genreType"/>
	</xs:sequence>
</xs:complexType>

<xs:complexType name="genreType">
	<xs:attribute name="type" type="genreList" use="required"/>
</xs:complexType>

<xs:simpleType name="genreList">
	<xs:restriction base="xs:string">
		<xs:enumeration value="Action"/>
		<xs:enumeration value="Adventure"/>
		<xs:enumeration value="Animation"/>
		<xs:enumeration value="Biographical"/>
		<xs:enumeration value="BlackComedy"/>
		<xs:enumeration value="Children's"/>
		<xs:enumeration value="Comedy"/>
		<xs:enumeration value="Crime"/>
		<xs:enumeration value="Cult"/>
		<xs:enumeration value="Disaster"/>
		<xs:enumeration value="Documentary"/>
		<xs:enumeration value="Drama"/>
		<xs:enumeration value="Erotic"/>
		<xs:enumeration value="Family"/>
		<xs:enumeration value="Fantasy"/>
		<xs:enumeration value="FilmNoir"/>
		<xs:enumeration value="Historical"/>
		<xs:enumeration value="Horror"/>
		<xs:enumeration value="Independent"/>
		<xs:enumeration value="Music"/>
		<xs:enumeration value="Musical"/>
		<xs:enumeration value="Mystery"/>
		<xs:enumeration value="Political"/>
		<xs:enumeration value="Psychological"/>
		<xs:enumeration value="Romance"/>
		<xs:enumeration value="Satire"/>
		<xs:enumeration value="ScienceFiction"/>
		<xs:enumeration value="Silent"/>
		<xs:enumeration value="Social"/>
		<xs:enumeration value="Sports"/>
		<xs:enumeration value="Superhero"/>
		<xs:enumeration value="Supernatural"/>
		<xs:enumeration value="Suspense"/>
		<xs:enumeration value="Thriller"/>
		<xs:enumeration value="War"/>
		<xs:enumeration value="Western"/>
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="durationType">
	<xs:restriction base="xs:integer">
		<xs:minInclusive value="60"/>
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="ratingType">
	<xs:restriction base="xs:string">
		<xs:enumeration value="G"/>
		<xs:enumeration value="PG"/>
		<xs:enumeration value="PG-13"/>
		<xs:enumeration value="R"/>
		<xs:enumeration value="NC-17"/>
		<xs:enumeration value="X"/>
	</xs:restriction>
</xs:simpleType>



<!-- ___________________________________________________________________  -->

<!-- PRODUCTION SCHEMA -->
<xs:complexType name="productionType">
	<xs:sequence>
		<xs:element name="companies" type="companyType"/>
		<xs:element name="budget" type="moneyType"/>
		<xs:element name="shooting_locations" type="addressType"/>
	</xs:sequence>
</xs:complexType>

<xs:complexType name="addressType">
	<xs:sequence>
		<xs:element name="country" type="countryType" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>

<xs:complexType name="countryType">
	<xs:sequence>
		<xs:element name="cities" type="xs:string" minOccurs="0"/>
	</xs:sequence>
	<xs:attribute name="name" type="countriesList" use="required"/>
</xs:complexType>


<xs:simpleType name="countriesList">
	<xs:restriction base="xs:string">
		<xs:enumeration value="Afghanistan"/>
		<xs:enumeration value="Albania"/>
		<xs:enumeration value="Algeria"/>
		<xs:enumeration value="Andorra"/>
		<xs:enumeration value="Angola"/>
		<xs:enumeration value="Antigua and Barbuda"/>
		<xs:enumeration value="Argentina"/>
		<xs:enumeration value="Armenia"/>
		<xs:enumeration value="Australia"/>
		<xs:enumeration value="Austria"/>
		<xs:enumeration value="Azerbaijan"/>
		<xs:enumeration value="Bahamas"/>
		<xs:enumeration value="Bahrain"/>
		<xs:enumeration value="Bangladesh"/>
		<xs:enumeration value="Barbados"/>
		<xs:enumeration value="Belarus"/>
		<xs:enumeration value="Belgium"/>
		<xs:enumeration value="Belize"/>
		<xs:enumeration value="Benin"/>
		<xs:enumeration value="Bhutan"/>
		<xs:enumeration value="Bolivia"/>
		<xs:enumeration value="Bosnia and Herzegovina"/>
		<xs:enumeration value="Botswana"/>
		<xs:enumeration value="Brazil"/>
		<xs:enumeration value="Brunei"/>
		<xs:enumeration value="Bulgaria"/>
		<xs:enumeration value="Burkina Faso"/>
		<xs:enumeration value="Burundi"/>
		<xs:enumeration value="Cabo Verde"/>
		<xs:enumeration value="Cambodia"/>
		<xs:enumeration value="Cameroon"/>
		<xs:enumeration value="Canada"/>
		<xs:enumeration value="Central African Republic"/>
		<xs:enumeration value="Chad"/>
		<xs:enumeration value="Chile"/>
		<xs:enumeration value="China"/>
		<xs:enumeration value="Colombia"/>
		<xs:enumeration value="Comoros"/>
		<xs:enumeration value="Congo (Congo-Brazzaville)"/>
		<xs:enumeration value="Costa Rica"/>
		<xs:enumeration value="Croatia"/>
		<xs:enumeration value="Cuba"/>
		<xs:enumeration value="Cyprus"/>
		<xs:enumeration value="Czechia"/>
		<xs:enumeration value="Democratic Republic of the Congo (Congo-Kinshasa)"/>
		<xs:enumeration value="Denmark"/>
		<xs:enumeration value="Djibouti"/>
		<xs:enumeration value="Dominica"/>
		<xs:enumeration value="Dominican Republic"/>
		<xs:enumeration value="Ecuador"/>
		<xs:enumeration value="Egypt"/>
		<xs:enumeration value="El Salvador"/>
		<xs:enumeration value="Equatorial Guinea"/>
		<xs:enumeration value="Eritrea"/>
		<xs:enumeration value="Estonia"/>
		<xs:enumeration value="Eswatini"/>
		<xs:enumeration value="Ethiopia"/>
		<xs:enumeration value="Fiji"/>
		<xs:enumeration value="Finland"/>
		<xs:enumeration value="France"/>
		<xs:enumeration value="Gabon"/>
		<xs:enumeration value="Gambia"/>
		<xs:enumeration value="Georgia"/>
		<xs:enumeration value="Germany"/>
		<xs:enumeration value="Ghana"/>
		<xs:enumeration value="Greece"/>
		<xs:enumeration value="Grenada"/>
		<xs:enumeration value="Guatemala"/>
		<xs:enumeration value="Guinea"/>
		<xs:enumeration value="Guinea-Bissau"/>
		<xs:enumeration value="Guyana"/>
		<xs:enumeration value="Haiti"/>
		<xs:enumeration value="Holy See"/>
		<xs:enumeration value="Honduras"/>
		<xs:enumeration value="Hungary"/>
		<xs:enumeration value="Iceland"/>
		<xs:enumeration value="India"/>
		<xs:enumeration value="Indonesia"/>
		<xs:enumeration value="Iran"/>
		<xs:enumeration value="Iraq"/>
		<xs:enumeration value="Ireland"/>
		<xs:enumeration value="Israel"/>
		<xs:enumeration value="Italy"/>
		<xs:enumeration value="Ivory Coast"/>
		<xs:enumeration value="Jamaica"/>
		<xs:enumeration value="Japan"/>
		<xs:enumeration value="Jordan"/>
		<xs:enumeration value="Kazakhstan"/>
		<xs:enumeration value="Kenya"/>
		<xs:enumeration value="Kosova"/>
		<xs:enumeration value="Kiribati"/>
		<xs:enumeration value="Kuwait"/>
		<xs:enumeration value="Kyrgyzstan"/>
		<xs:enumeration value="Laos"/>
		<xs:enumeration value="Latvia"/>
		<xs:enumeration value="Lebanon"/>
		<xs:enumeration value="Lesotho"/>
		<xs:enumeration value="Liberia"/>
		<xs:enumeration value="Libya"/>
		<xs:enumeration value="Liechtenstein"/>
		<xs:enumeration value="Lithuania"/>
		<xs:enumeration value="Luxembourg"/>
		<xs:enumeration value="Madagascar"/>
		<xs:enumeration value="Malawi"/>
		<xs:enumeration value="Malaysia"/>
		<xs:enumeration value="Maldives"/>
		<xs:enumeration value="Mali"/>
		<xs:enumeration value="Malta"/>
		<xs:enumeration value="Marshall Islands"/>
		<xs:enumeration value="Mauritania"/>
		<xs:enumeration value="Mauritius"/>
		<xs:enumeration value="Mexico"/>
		<xs:enumeration value="Micronesia"/>
		<xs:enumeration value="Moldova"/>
		<xs:enumeration value="Monaco"/>
		<xs:enumeration value="Mongolia"/>
		<xs:enumeration value="Montenegro"/>
		<xs:enumeration value="Morocco"/>
		<xs:enumeration value="Mozambique"/>
		<xs:enumeration value="Myanmar (formerly Burma)"/>
		<xs:enumeration value="Namibia"/>
		<xs:enumeration value="Nauru"/>
		<xs:enumeration value="Nepal"/>
		<xs:enumeration value="Netherlands"/>
		<xs:enumeration value="New Zealand"/>
		<xs:enumeration value="Nicaragua"/>
		<xs:enumeration value="Niger"/>
		<xs:enumeration value="Nigeria"/>
		<xs:enumeration value="North Korea"/>
		<xs:enumeration value="North Macedonia (formerly Macedonia)"/>
		<xs:enumeration value="Norway"/>
		<xs:enumeration value="Oman"/>
		<xs:enumeration value="Pakistan"/>
		<xs:enumeration value="Palau"/>
		<xs:enumeration value="Palestine State"/>
		<xs:enumeration value="Panama"/>
		<xs:enumeration value="Papua New Guinea"/>
		<xs:enumeration value="Paraguay"/>
		<xs:enumeration value="Peru"/>
		<xs:enumeration value="Philippines"/>
		<xs:enumeration value="Poland"/>
		<xs:enumeration value="Portugal"/>
		<xs:enumeration value="Qatar"/>
		<xs:enumeration value="Romania"/>
		<xs:enumeration value="Russia"/>
		<xs:enumeration value="Rwanda"/>
		<xs:enumeration value="Saint Kitts and Nevis"/>
		<xs:enumeration value="Saint Lucia"/>
		<xs:enumeration value="Saint Vincent and the Grenadines"/>
		<xs:enumeration value="Samoa"/>
		<xs:enumeration value="San Marino"/>
		<xs:enumeration value="Sao Tome and Principe"/>
		<xs:enumeration value="Saudi Arabia"/>
		<xs:enumeration value="Senegal"/>
		<xs:enumeration value="Serbia"/>
		<xs:enumeration value="Seychelles"/>
		<xs:enumeration value="Sierra Leone"/>
		<xs:enumeration value="Singapore"/>
		<xs:enumeration value="Slovakia"/>
		<xs:enumeration value="Slovenia"/>
		<xs:enumeration value="Solomon Islands"/>
		<xs:enumeration value="Somalia"/>
		<xs:enumeration value="South Africa"/>
		<xs:enumeration value="South Korea"/>
		<xs:enumeration value="South Sudan"/>
		<xs:enumeration value="Spain"/>
		<xs:enumeration value="Sri Lanka"/>
		<xs:enumeration value="Sudan"/>
		<xs:enumeration value="Suriname"/>
		<xs:enumeration value="Sweden"/>
		<xs:enumeration value="Switzerland"/>
		<xs:enumeration value="Syria"/>
		<xs:enumeration value="Tajikistan"/>
		<xs:enumeration value="Tanzania"/>
		<xs:enumeration value="Thailand"/>
		<xs:enumeration value="Timor-Leste"/>
		<xs:enumeration value="Togo"/>
		<xs:enumeration value="Tonga"/>
		<xs:enumeration value="Trinidad and Tobago"/>
		<xs:enumeration value="Tunisia"/>
		<xs:enumeration value="Turkey"/>
		<xs:enumeration value="Turkmenistan"/>
		<xs:enumeration value="Tuvalu"/>
		<xs:enumeration value="Uganda"/>
		<xs:enumeration value="Ukraine"/>
		<xs:enumeration value="United Arab Emirates"/>
		<xs:enumeration value="United Kingdom"/>
		<xs:enumeration value="United States of America"/>
		<xs:enumeration value="Uruguay"/>
		<xs:enumeration value="Uzbekistan"/>
		<xs:enumeration value="Vanuatu"/>
		<xs:enumeration value="Venezuela"/>
		<xs:enumeration value="Vietnam"/>
		<xs:enumeration value="Yemen"/>
		<xs:enumeration value="Zambia"/>
		<xs:enumeration value="Zimbabwe"/>
	</xs:restriction>
</xs:simpleType>

<!-- ___________________________________________________________________  -->

<!-- CREATIVE TEAM SCHEMA -->
<xs:complexType name="creativeTeamType">
	<xs:sequence>
		<xs:element name="employee" type="employeeType" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>

<xs:complexType name="employeeType">
	<xs:sequence>
		<xs:element name="name" type="xs:string"/>
		<xs:element name="biography" type="xs:string" minOccurs="0"/>
		<xs:element name="job" type="jobType"/>
		<xs:element name="other_works" type="IDREFSType" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>

<xs:simpleType name="jobType">
	<xs:restriction base="xs:string">
		<xs:enumeration value="Director"/>
		<xs:enumeration value="Screenwriter"/>
		<xs:enumeration value="Producer"/>
		<xs:enumeration value="Composer"/>
		<xs:enumeration value="Actor"/>
		<xs:enumeration value="Film Editor"/>
		<xs:enumeration value="Sound Designer"/>
	</xs:restriction>
</xs:simpleType>

<!-- ___________________________________________________________________  -->

<!-- CAST SCHEMA -->
<xs:complexType name="castType">
	<xs:sequence>
		<xs:element name="lead_role" type="roleType"/>
		<xs:element name="support_role" type="roleType"/>
	</xs:sequence>
</xs:complexType>

<xs:complexType name="roleType">
	<xs:sequence>
		<xs:element name="employee" type="actorType" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>

<xs:complexType name="actorType">
	<xs:complexContent>
		<xs:extension base="employeeType">
			<xs:sequence>
				<xs:element name="character" type="xs:string" minOccurs="0"/>
				<xs:element name="character_description" type="xs:string" minOccurs="0"/>
				<xs:element name="role" type="roleStructure" minOccurs="0"/>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

<xs:simpleType name="roleStructure">
	<xs:restriction base="xs:string">
		<xs:enumeration value="Protagonist"/>
		<xs:enumeration value="Antagonist"/>
		<xs:enumeration value="Neutral"/>
	</xs:restriction>
</xs:simpleType>


<!-- ___________________________________________________________________  -->

<!-- POST PRODUCTION SCHEMA -->
<xs:complexType name="postProductionType">
	<xs:sequence>
		<xs:element name="employee" type="employeeType" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="marketing_company" type="companyType" minOccurs="0"/>
		<xs:element name="publicity_company" type="companyType" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>

<!-- ___________________________________________________________________  -->

<!-- RELEASE AND DISTRIBUTION SCHEMA -->
<xs:complexType name="rAndDType">
	<xs:sequence>
		<xs:element name="distribution_company" type="companyType" minOccurs="0"/>
		<xs:element name="streaming_services" type="streamingCompanyType" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>

<xs:complexType name="streamingCompanyType">
	<xs:sequence>
		<xs:element name="company" maxOccurs="unbounded">
			<xs:complexType>
				<xs:attribute name="name" type="streamingServiceNames" use="required"/>
			</xs:complexType>
		</xs:element>
	</xs:sequence>
</xs:complexType>

<xs:simpleType name="streamingServiceNames">
  <xs:restriction base="xs:string">
    <xs:enumeration value="Netflix"/>
    <xs:enumeration value="Amazon Prime Video"/>
    <xs:enumeration value="Hulu"/>
    <xs:enumeration value="Disney+"/>
    <xs:enumeration value="Apple TV+"/>
    <xs:enumeration value="HBO Max"/>
    <xs:enumeration value="YouTube TV"/>
    <xs:enumeration value="Peacock"/>
	<xs:enumeration value="Prime Video"/>
    <xs:enumeration value="Paramount+"/>
    <xs:enumeration value="ESPN+"/>
    <xs:enumeration value="Vudu"/>
    <xs:enumeration value="Crunchyroll"/>
    <xs:enumeration value="Twitch"/>
    <xs:enumeration value="Vimeo"/>
    <xs:enumeration value="Dailymotion"/>
    <xs:enumeration value="Tubi TV"/>
    <xs:enumeration value="Shudder"/>
    <xs:enumeration value="Kanopy"/>
    <xs:enumeration value="Sling TV"/>
    <xs:enumeration value="Fubo TV"/>
    <xs:enumeration value="BritBox"/>
    <xs:enumeration value="Acorn TV"/>
    <xs:enumeration value="Funimation"/>
    <xs:enumeration value="VRV"/>
	<xs:enumeration value="Max"/>
    <!-- Add more streaming service names here -->
  </xs:restriction>
</xs:simpleType>

<!-- ___________________________________________________________________  -->

<!-- RECEPTION SCHEMA -->
<xs:complexType name="receptionType">
	<xs:sequence>
		<xs:element name="viewer_rating" type="viewerRatingType"/>
		<xs:element name="IMDb" type="IMDbType"/>
		<xs:element name="rotten_tomatoes" type="rottenTomatoesType"/>
		<xs:element name="revenue" type="moneyType"/>
	</xs:sequence>
</xs:complexType>

<xs:simpleType name="viewerRatingType">
	<xs:restriction base="xs:float">
		<xs:minInclusive value="0.0"/>
		<xs:maxInclusive value="5.0"/>
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="IMDbType">
	<xs:restriction base="xs:float">
		<xs:minInclusive value="0.0"/>
		<xs:maxInclusive value="10.0"/>
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="rottenTomatoesType">
	<xs:restriction base="xs:float">
		<xs:minInclusive value="0.0"/>
		<xs:maxInclusive value="100.0"/>
	</xs:restriction>
</xs:simpleType>

<!-- ___________________________________________________________________  -->

<!-- FRANCHISE SCHEMA-->
<xs:complexType name="franchiseType">
	<xs:sequence>
		<xs:element name="prequels" minOccurs="0" type="IDREFSType"/>
		<xs:element name="sequels" minOccurs="0" type="IDREFSType"/>
	</xs:sequence>
</xs:complexType>

<!-- ___________________________________________________________________  -->

</xs:schema>